
/*#content{
	width: 1920px;
}*/

#banner{
	width: 100%;
	background: url(../images/contact/77.png) no-repeat;
	text-align: center;
	line-height: 439px;
	margin-bottom: 80px;
	color:#fff;
	font-size: 58px;
}

#con-t{
	width: 1240px;
	margin: 0 auto;
	/*border: 1px red solid;*/
}
#title span{
	font-size: 24px;
	color: #aeaeae;
	vertical-align: middle;

}
#sp-l{
	margin-right: 60px;
}
#title{
	margin-bottom: 80px;	
}
#title #sp-t{

	font-size: 45px;
	color: black;
	margin-right: 60px;
}

/*#all-item{
	padding:0 20px;

}*/
#all-item h3{
	font-size: 38px;
	font-weight: 400;
}
.msg{
	margin-top: 58px;
	height: 190px;
}
.msg div{
	float: left;
	width: 50%;
	
}
.msg div h2{
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 18px;
}

#map-img{
	margin-bottom: 118px;
}
footer {
	
    height: 272px;
    background: url('../images/vision/foot.png') no-repeat center;
}