*{
	margin: 0;
	padding: 0;
}
ad_top {
    height: 144px;
    border-bottom: 5px solid #092cba;
}

.head_top .head_t {
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 33px 170px 0 40px;
}

.head_top .head_t .logo {
    width: 131px;
    height: 46px;
    text-indent: -99999px;
    background: url('../images/vision/logo.png') no-repeat center;
}

.head_top .head_t .items {
    height: 20px;
    display: flex;
}

.head_top .head_t .items .check {
    color: #d93600;
    position: relative;
}

.head_top .head_t .items i {
    display: inline-block;
    vertical-align: middle;
}

.head_top .head_t .items .check>i {
    width: 20px;
    height: 20px;
    background: url('../images/vision/check.png') no-repeat center;
}

.head_top .head_t .items .center {
    margin: 0 39px;
}

.head_top .head_t .items .center>i {
    width: 31px;
    height: 20px;
    background: url('../images/vision/center.png');
}


.head_top .head_t .items .help>i {
    width: 33px;
    height: 24px;
    background: url('../images/vision/help.png');
}

.head_wrapper .head_b {}

.head_wrapper .head_b .nav_bar {
    height: 38px;
}

.head_wrapper .head_b .nav_le {
    position: relative;
    float: left;
}

.head_wrapper .head_b .nav_le h3 {
    color: #fff;
    background-color: #092cba;
    width: 210px;
    padding: 10px 15px;
    height: 38px;
    font-size: 14px;
    font-weight: normal;
}

.head_wrapper .head_b .nav_le ul {
    width: 210px;
    position: absolute;
    top: 44px;
    left: 0;
    padding: 27px 70px;
    background-color: rgba(0, 0, 0, .3);
}

.head_wrapper .head_b .nav_le ul li {
    margin-bottom: 32px;
    text-align: center;
}

.head_wrapper .head_b .nav_le ul li a {
    /* display: block; */
    color: #fff;
    position: relative;
}

.head_wrapper .head_b .nav_le ul li:nth-child(1)>a::after {
    position: absolute;
    content: '';
    left: -43px;
    top: -8px;
    width: 26px;
    height: 33px;
    background: url('../images/vision/1.png');
}

.head_wrapper .head_b .nav_le ul li:nth-child(2)>a::after {
    position: absolute;
    content: '';
    left: -43px;
    top: -6px;
    width: 29px;
    height: 29px;
    background: url('../images/vision/2.png');
}

.head_wrapper .head_b .nav_le ul li:nth-child(3)>a::after {
    position: absolute;
    content: '';
    left: -43px;
    top: -6px;
    width: 32px;
    height: 27px;
    background: url('../images/vision/3.png');
}

.head_wrapper .head_b .nav_le ul li:nth-child(4)>a::after {
    position: absolute;
    content: '';
    left: -43px;
    top: -6px;
    width: 29px;
    height: 29px;
    background: url('../images/vision/4.png');
}

.head_wrapper .head_b .nav_le ul li:nth-child(5)>a::after {
    position: absolute;
    content: '';
    left: -43px;
    top: -6px;
    width: 29px;
    height: 29px;
    background: url('../images/vision/5.png');
}

.head_wrapper .head_b .nav_le ul li:nth-child(6)>a::after {
    position: absolute;
    content: '';
    left: -43px;
    top: -6px;
    width: 29px;
    height: 29px;
    background: url('../images/vision/6.png');
}

.head_wrapper .head_b .nav_le ul li:nth-child(7)>a::after {
    position: absolute;
    content: '';
    left: -43px;
    top: -6px;
    width: 29px;
    height: 29px;
    background: url('../images/vision/7.png');
}

.head_wrapper .head_b .nav_ce {
    float: left;
    padding-left: 30px;
}

.head_wrapper .head_b .nav_ce ul {
    height: 38px;
    line-height: 38px;
}

.head_wrapper .head_b .nav_ce ul li {
    float: left;
    margin-right: 29px;
    text-align: center;
}

.head_wrapper .head_b .nav_ce ul li>a {
    display: block;

    font-size: 15px;
}

.head_wrapper .head_b .nav_fr {
    float: left;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    color: #092cba;
    margin-left: 188px;
}
.head_wrapper .head_b .nav_fr>i {
    display: inline-block;
    width: 25px;
    height: 20px;
    background: url('../images/vision/Notice.png');
    vertical-align: middle;
    margin-right: 6px;
}
