/*#content {
	width: 1920px;
}*/

#banner {
	width: 100%;
	background: url(../images/summary/99.png) no-repeat;
	text-align: center;
	line-height: 439px;
	margin-bottom: 80px;
}

#con-t {
	width: 1240px;
	margin: 0 auto;
	/*border: 1px red solid;*/
}

#title span {
	font-size: 24px;
	color: #aeaeae;
	vertical-align: middle;
}

#sp-l {
	margin-right: 60px;
}

#title {
	margin-bottom: 80px;
}

#title #sp-t {
	font-size: 45px;
	color: black;
	margin-right: 60px;
}

#item-1 {
	width: 100%;
	position: relative;
}

#item-1 img {
	margin-left: 20px;
}

#item-1-right {
	width: 770px;
	position: absolute;
	top: 0;
	right: 0;
}

#item-1-right p {
	font-size: 28px;
	text-indent: 2em;
	line-height: 1.4;
}

.item-img-m {
	margin: 45px 0;
	text-align: center;
}

#item-2 {
	height: 500px;
	border-bottom: 1px dashed #a8a8a8;
}

#item-2 h3 {
	font-size: 18px;
	color: #fd9303;
	font-weight: 500;
	margin-bottom: 40px;
}

.list-item img {
	margin: 10px 24px;
}

.list-item {
	position: relative;
	width: 355px;
	height: 310px;
	margin: 0 20px;
	background: url(../images/summary/81@2x.png) no-repeat;
	float: left;
}

#list-item-m {
	margin: 0 45px;
}

.right-top {
	position: absolute;
	top: -10px;
	right: -17px;
}

.left-bottom {
	position: absolute;
	left: -24px;
	bottom: 43px;
}

.right-bottom {
	position: absolute;
	right: -17px;
	bottom: 43px;
}

.list-item span {
	display: block;
	width: 220px;
	margin: 46px auto 0;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
}

#item-3 h3 {
	font-size: 18px;
	color: #66bb00;
	font-weight: 500;
	margin-top: 30px;
	margin-bottom: 36px;
}

#item-3-all {
	height: 606px;
	text-align: center;
	position: relative;
}

#item-3-all #t-1 {
	text-align: left;
	line-height: 25px;
	width: 330px;
	position: absolute;
	top: 10px;
	right: 140px;
	font-size: 15px;
}

#item-3-all #t-2 {
	text-align: left;
	line-height: 25px;
	width: 330px;
	position: absolute;
	top: 275px;
	right: 140px;
	font-size: 15px;
}

#item-3-all #t-3 {
	text-align: left;
	line-height: 25px;
	width: 330px;
	position: absolute;
	top: 470px;
	right: 140px;
	font-size: 15px;
}

#item-3-all #t-4 {
	text-align: left;
	line-height: 25px;
	width: 330px;
	position: absolute;
	top: 175px;
	left: 140px;
	font-size: 15px;
}

#item-3-all #t-4 span {
	margin-left: 200px;
}

#item-3-all #t-5 {
	text-align: right;
	line-height: 25px;
	width: 330px;
	position: absolute;
	top: 375px;
	left: 140px;
	font-size: 15px;
}

#item-3-all #t-5 span {
	margin-right: 4px;
}

.all-data {
	color: #73be23;
	display: inline-block;
	margin-bottom: 10px;
}

footer {
	height: 272px;
	background: url('../images/summary/foot.png') no-repeat center;
}