/*
#content{
	width: 1920px;
}*/

#banner{
	width: 100%;
	background: url(../images/vision/96@2x.png) no-repeat;
	text-align: center;
	line-height: 439px;
	margin-bottom: 80px;
}

#con-t{
	width: 1240px;
	margin: 0 auto;
	/*border: 1px red solid;*/
}
#title span{
	font-size: 24px;
	color: #aeaeae;
	vertical-align: middle;

}
#sp-l{
	margin-right: 60px;
}
#title{
	margin-bottom: 80px;	
}
#title #sp-t{

	font-size: 45px;
	color: black;
	margin-right: 60px;
}

#con-t>p{
	text-indent: 2em;
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 60px;
}

/*#all-item{
	padding:0 20px;

}*/

#all-item>h3{
	font-size: 34px;
	color: #fe8f02;
	font-weight: 400;
	margin-left: 18px;
}
.list-all{
	margin: 38px 20px;
	height: 204px;
	margin-bottom: 118px;
	/*border: 1px solid red;*/
	
}
.list-all .item{
	width: 300px;
	height: 191px;
	padding: 25px;
	float: left;
	background: url(../images/vision/81@2x.png) no-repeat;
	position: relative;
	/*border: 1px solid royalblue;*/
}
.item .top-r{
	position: absolute;
	top: 0;
	right: 0;
}
.item .left-b{
	position: absolute;
	left: 0;
	bottom: -10px;
}
.item .right-b{
	position: absolute;
	right: 0;
	bottom: -10px;
}
.item>p{
	font-size: 20px;
	color: #9d9d9d;
}
.item h2{
	font-weight: 400;
	font-size: 24px;
	margin-bottom: 30px;
}
.item span{
	font-weight: 400;
	font-size: 24px;
	color: #99d156;
}
#id-item{
	margin: 0 74px;
}

.w-team{
	width: 100%;
	margin: 0 auto;
	/*border: 1px solid red;*/
}

.w-team h3{
	font-size: 34px;
	color: #fe8f02;
	font-weight: 400;
	margin-left: 18px;
}
.w-team div{
	margin-top: 30px;
	text-align: center;
}
.w-team p{
	text-indent: 2em;
	font-size: 24px;
	font-weight: 400;
	margin: 30px 10px 70px 20px;
}

footer {
    height: 272px;
    background: url('../images/vision/foot.png') no-repeat center;
}